<%- include('partials/header'); -%>
<div class="">
  <h1>Home</h1>
  <p><%=homeStartingContent%></p>

  <%posts.forEach(post => {%>
  <h1><%=post.title%></h1>
  <p><%=post.body.slice(0, 100)+ "..."%><a href="/post/<%= post.title%>">Read more</a></p>
  <%});%>
</div>


<%- include('partials/footer'); -%>
